.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6dce5;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-125px);
  height: 150px;
}
