.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6dce5;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-75px);
  height: 150px;
}

.main-content {
  width: 100%;
  height: 90%;
  transform: translateY(-75px);
}
